* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #e67979;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  color: #09a63e;
}

h1, h2, h3 {
  color: white;
  font-weight: 600;
}

h1, .h1 {
  font-size: 2.5em;
  font-family: 'Lilita One', cursive;
  margin: 0 0 .2em;
}

h2, .h2 {
  font-size: 1.5em;
  margin: 0 0 .33em;
}

h3, .h3 {
  font-size: 1.25em;
  margin: 0 0 .5em;
}

p {
  margin: .5em 0;
}

svg {
  height: auto;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.subline {
  color: #fff;
  font-weight: normal;
}

.container {
  left: 0%;
  max-width: 100%;
  position: fixed;
  top: 20%;
  transform: translate(-0%, -0%);
  width: 100%;
}

.map {
  margin-top: 3em;
  position: relative;
}

.map .map-markers {
  list-style: none;
  margin: 0;
  padding: 0;
}

.map .map-marker {
  position: absolute;
}

.map .map-marker:after {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: pop;
  border-radius: 50%;
  border: 1px solid #ffd43d;
  content: '';
  height: 2em;
  left: 0;
  margin: -0.5em 0 0 -0.5em;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 2em;
}

.map .map-marker:hover .map-marker-info {
  display: block;
}

.map .map-marker a {
  background-color: #ffd43d;
  border-radius: 50%;
  height: 1em;
  display: block;
  text-indent: -9999px;
  width: 1em;
}

.map .map-marker-ia {
  left: 55%;
  top: 32%;
}

.map .map-marker-ks {
  left: 50%;
  top: 45%;
}

.map .map-marker-ks:after {
  animation-delay: 3s;
}

.map .map-marker-mn {
  left: 54%;
  top: 22%;
}

.map .map-marker-mn:after {
  animation-delay: 5s;
}

.map .map-marker-mo {
  left: 57%;
  top: 54%;
}

.map .map-marker-info {
  display: none;
  left: 50%;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -2em);
  width: 20em;
  z-index: 999;
}

.map .map-marker-info header {
  background-color: #394FB2;
  border-radius: .5em .5em 0 0;
  color: white;
  padding: .5em 1em;
}

.map .map-marker-info main {
  background-color: white;
  border-radius: 0 0 .5em .5em;
  color: #7e7e7e;
  padding: .5em 1em;
}

.map .map-marker-info h2 {
  margin-bottom: 0;
}

.map .map-marker-info .map-marker-info-inner {
  border-radius: .5em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  font-size: .875em;
}

.map .map-marker-info .map-marker-info-inner:after {
  border-left: .75em solid transparent;
  border-right: .75em solid transparent;
  border-top: 1em solid #fff;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  width: 0;
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounce-in {
}

.animate-bounce-in {
  animation-duration: .75s;
  animation-name: bounce-in;
}

@keyframes pop {
}

.animate-pop {
  animation-duration: 1s;
  animation-name: pop;
}

